<!DOCTYPE html>
<html>
  <head>
    <%- include('../../partials/head') %>
  </head>
  <body>
    <%- include('../../partials/nav') %>

    <div class="container mb-3">

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-1 pl-2 pr-2">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/notices">Notice</a></li>
          <li class="breadcrumb-item active" aria-current="page">Notice Annoucement</li>
        </ol>
      </nav>

      <%- include('../../partials/boards/new/form') %>

    </div>
  </body>
</html>
