<!--message-->
<a href="/dm/" class="nav-link">
  <i class='far fa-comment-dots' style='font-size:24px'>
    <% // if (notifications) { %>
    <span class="button__badge"></span>
    <% // } %>
  </i>

</a>
<!--add socket script down here?-->
