<!--message-->
<a href="/dm/" class="nav-link">
  <i class='far fa-comment-dots' style='font-size:24px'></i>
  <span class="button__badge"><%//=notifications %></span>
</a>
<!--add socket script down here?-->
