<!-- Footer -->

<div class="fixed-bottom">
  <footer class="footer bg-light">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="http://www.ourneighborstory.cf/"> www.ourneighborstory.cf</a>
    </div>
    <!-- Copyright -->

  </footer>
</div>
<!-- Footer -->
<%- include('./socket') %>
