<html>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
  <div class="container">

    <div class="navbar-brand"> <i class="fa fa-group" style='font-size:24px'></i>
      우리 동네 이야기 </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav">
        <li class="nav-item"><a href="/" class="nav-link">홈</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
        <li class="nav-item"><a href="/boards/notices" class="nav-link">공지사항</a></li>
        <li class="nav-item"><a href="/boards/frees" class="nav-link">자유 게시판</a></li>
        <li class="nav-item"><a href="/boards/trades" class="nav-link">장터</a></li>

      </ul>
      <ul class="navbar-nav ml-auto">

        <% if(isAuthenticated){ %>

        <% if(currentUser.isAdmin){ %>
        <li class="nav-item"><a href="/users" class="nav-link">유저 관리</a></li>
        <% } %>
        <% if(currentUser.isAdmin){ %>
        <li class="nav-item"><a href="/bills/admin" class="nav-link">고지서 관리</a></li>
        <% } else { %>
        <li class="nav-item"><a href="/bills/user" class="nav-link">고지서</a></li>
        <% } %>
        <li>
          <a href="/dm/" class="nav-link" onclick="clearNotification()">
            <i class='far fa-comment-dots' style='font-size:24px; position:relative'>
              <span class="button__badge"></span>
            </i>
          </a>
          <%- include('./socket') %>
        </li>
        <li class="nav-item"><a href="/users/<%= currentUser.username %>" class="nav-link">내 계정</a></li>
        <li class="nav-item"><a href="/logout" class="nav-link">로그아웃</a></li>
        <% if(currentUser.suspended){ %>
        <li class="nav-item"><a class="nav-link" style='color:red'>
            <i class='fas fa-ban' style='color:red'></i>정지된 유저</a></li>
        <% } %>
        <% if(!currentUser.verified){ %>
        <li class="nav-item"><a class="nav-link" style='color:blue'>
            <i class="fas fa-exclamation-triangle"></i>미인증 상태</a></li>
        <% } else { %>

        <% } %>
        <% } else { %>
        <li class="nav-item"><a href="/users/new" class="nav-link">회원가입</a></li>
        <li class="nav-item"><a href="/login" class="nav-link">로그인</a></li>
        <% } %>

      </ul>
    </div>
  </div>
</nav>

</html>
