<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head') %>
  <style>
    .chat_log {
      width: 95%;
      height: 200px;
    }

    .name {
      width: 10%;
    }

    .message {
      width: 70%;
    }

    .chat {
      width: 10%;
    }
  </style>
</head>

<body>
  <%- include('../partials/nav') %>

  <div class="container mb-3">

    <div class="jumbotron">
      <h1>가제: 우리동네 게시판</h1>
      <P>우리동네 소통의 장 </p>
    </div>

    <div>
      <textarea id="chatLog" class="chat_log" readonly></textarea>
        <script>
          if(log) {
            var textarea = document.getElementById("chatlog");
            var chatLog = log;
            chatLog.foreach(e => function(){
              var text = e.text;
              var createdAt = e.createdAt;
              var newLine = "\r\n";
              textarea.value += e.text + newLine;

            });
          }
        </script>
    </div>
    <form id="chat">
      <input id="name" class="name" type="text" readonly>
      <input id="message" class="message" type="text">
      <input type="submit" class="chat" value="chat" />
    </form>
    <div id="box" class="box">
      <script src="/socket.io/socket.io.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.js"></script>
      <script>
        var socket = io();
        $('#chat').on('submit', function(e) {
          socket.emit('send message', $('#name').val(), $('#message').val());
          $('#message').val('');
          $('#message').focus();
          e.preventDefault();
        });
        socket.on('receive message', function(msg) {
          $('#chatLog').append(msg + '\n');
          $('#chatLog').scrollTop($('#chatLog')[0].scrollHeight);
        });
        socket.on('change name', function(name) {
          $('#name').val(name);
        });
      </script>

    </div>
</body>

</html>
