<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <style>
      .chat_log{ width: 95%; height: 200px; }
      .name{ width: 10%; }
      .message{ width: 70%; }
      .chat{ width: 10%; }
    </style>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">
      <div class="jumbotron">
        <h1>가제:우리동네 게시판</h1>
        <P>우리동네 소통의 장 </p>
      </div>
      <div>
        <textarea id="chatLog" class="chat_log" readonly></textarea>
      </div>
      <form id="chat">
        <input id="name" class="name" type="text" value="<%= currentUser.username %>" readonly>
        <input id="message" class="message" type="text">
        <input type="submit" class="chat" value="chat" />
      </form>
      <div id="box" class="box">
        <!-- <%- include('./partials/socket-script-old') %> -->

      </div>

    </div>
  </body>
</html>
