<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head') %>
  <%- include('./partials/chat-style') %>
</head>

<body>
  <%- include('../partials/nav') %>

  <div class="container">
    <h3 class="text-center">Messaging</h3>
    <div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>채팅 목록 <button id="refresh" type="button"><i id="refresh_i" class="fa fa-refresh" style="cursor: pointer;" aria-hidden="true"></i></button></h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input type="text" class="search-bar" placeholder="Search">
                <span class="input-group-addon">
                  <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>
            </div>
          </div>
          <div class="inbox_chat">
            <!-- chat list will be loaded here -->
            <p id="loading" style="padding:12px 0px 0px 20px;">Loading...</p>
          </div>

        </div>
        <div class="mesgs">
          <div class="msg_history">
            <!-- messages will be appended here -->
          </div>
          <div>
            <input type="file" name="attachment" class="form-control-file" id="attachment">
          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" class="write_msg" placeholder="Type a message" />
              <button class="img_upload_btn" type="button"><i class="far fa-image" aria-hidden="true"></i></button>
              <button class="msg_send_btn" type="button"><i class="far fa-paper-plane" aria-hidden="true"></i></button>
            </div>
          </div>
          <p id="temp"><br>채팅 목록에서 대화 상대를 선택해주세요. </p>

        </div>
      </div>

    </div>
  </div>
  <%- include('./partials/chat-socket') %>
</body>

</html>
