<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">Chatting 상대</h2>

      <% if(targets == null || targets.length == 0){ %>
      <tr>
        <td colspan=100> There is no data to show :( </td>
      </tr>
      <% } %>
      <span data-date-time="<%= targets %>"><%= targets %>
      </span>
    </div>
  </body>
</html>
