@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');

html {margin-bottom: 65px}

body {
  font-family: 'Open Sans', sans-serif;
}

.breadcrumb-item {
  font-size: 0.8em !important;
}

.ellipsis {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar-brand {
  font-size: 2.0em;
  font-family: 'Nanum Pen Script', cursive;
}

img {
  max-width: 40%;
  height: auto;
}

div.about {
  border-style: solid;
  width: 500px;
  border-width: 0 0 0px 0px;
  padding: 12px;
  word-break: break-all;
}

div.best-container {
  position:relative;
  width:100%;
}

div.best-three{
  float:left;
  width:33%;
  padding-right: 5px;
  padding-left: 5px;
}

div.best-board {
  font-size:36px;
  font-family: 'Dokdo', cursive;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.best-posts,
div.best-posts .empty {
  width: 100%;
  float:left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.best-posts .title {
  width: 70%;
  float:left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.best-posts .likes {
  width: auto;
  float:left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* div.best-posts .author {
  width: 20%;
  float:right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
} */

div.mini-title {
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board-table {
  /*  table-layout: fixed;*/
  overflow-x: auto;
  margin-left: auto;
  margin-right: auto;
}

.post-body {
  white-space: pre-line;
}

.post-info {
  font-size: 0.8em;
}

.post-body,
.comment-text {
  /* white-space: pre-line; */
}

.comment-edit,
.comment-edit-enabled .comment-show {
  display: none;
}

.comment-edit-enabled .comment-edit {
  display: inherit;
}

.user-form {
  width: 400px;
}

.board-table .title {
  width: 400px;
  text-align: center;
  overflow-x: auto;
}

.board-table .views {
  width: 30px;
  text-align: center;
  overflow-x: auto;
}

.board-table .author {
  width: 100px;
  text-align: center;
}

.board-table .receiver {
  width: 100px;
  text-align: center;
}

.board-table .date {
  width: 80px;
  text-align: center;
}

.board-table .likes {
  width: 30px;
  text-align: center;
  overflow-x: auto;
}

.small {
  font-size: smaller;
  color: red;
}

.button {
  color: white;
  display: inline-block;
  /* Inline elements with width and height. TL;DR they make the icon buttons stack from left-to-right instead of top-to-bottom */
  position: relative;
  /* All 'absolute'ly positioned elements are relative to this one */
  padding: 2px 5px;
  /* Add some padding so it looks nice */
}

.button__badge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;
  padding: 6px 6px;
  border-radius: 6px;
  font-size: 10px;
  position: absolute;
  /* Position the badge within the relatively positioned button */
  top: 12px;
  right: -2px;
}
