body {
  font-family: 'Open Sans', sans-serif;
}
.breadcrumb-item {
  font-size: 0.8em !important;
}
.ellipsis{
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.navbar-brand
{
  font-size: 1.4em;

}

div.about {
  border-style: solid;
  width : 500px;
   border-width:  0 0 0px 0px;
   padding: 12px;
   word-break: break-all;


    }



.board-table {
/*  table-layout: fixed;*/

  overflow-x: auto;
  margin-left: auto;
    margin-right: auto;
}


/* .notification-container {
    position: relative;
    width: 16px;
    height: 16px;
    top: 15px;
    left: 15px;

    i {
        color: #fff;
    }
}

.notification-counter {
    position: relative;
    top: -40px;
    left: 40px;

    background-color: rgba(212, 19, 13, 1);
    color: #fff;
    border-radius: 3px;
    padding: 1px 3px;
    font: 8px Verdana;
} */

.post-body{
  white-space: pre-line;
}
.post-info{
  font-size: 0.8em;
}

.post-body,
.comment-text {
  white-space: pre-line;
}

.comment-edit,
.comment-edit-enabled .comment-show {
  display:none;
}

.comment-edit-enabled .comment-edit {
  display:inherit;
}

.user-form {
  width: 400px;
}
.board-table .title
{
  width : 400px;
  text-align: center;
    overflow-x: auto;
}

.board-table .author,
.board-table .date
{
  text-align: center;

    overflow-x: auto;

}
.small {
  font-size: smaller;
  color : red;
}

.button__badge {
  height: 10px;
  width: 10px;
  background-color: #FF2424;
  border-radius: 50%;
  display: inline-block;

  position: relative; /* Position the badge within the relatively positioned button */
  top: 3px;
  right: 15px;
}
