body {
  font-family: 'Open Sans', sans-serif;
}
.breadcrumb-item {
  font-size: 0.8em !important;
}
.ellipsis{
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board-table {
  table-layout: fixed;
}
.board-table .date {
  width: 100px;
}

/* .notification-container {
    position: relative;
    width: 16px;
    height: 16px;
    top: 15px;
    left: 15px;

    i {
        color: #fff;
    }
}

.notification-counter {
    position: relative;
    top: -40px;
    left: 40px;

    background-color: rgba(212, 19, 13, 1);
    color: #fff;
    border-radius: 3px;
    padding: 1px 3px;
    font: 8px Verdana;
} */

.post-body{
  white-space: pre-line;
}
.post-info{
  font-size: 0.8em;
}

.post-body,
.comment-text {
  white-space: pre-line;
}

.comment-edit,
.comment-edit-enabled .comment-show {
  display:none;
}

.comment-edit-enabled .comment-edit {
  display:inherit;
}

.user-form {
  width: 400px;
}
.board-table {
  table-layout: fixed;
}
.board-table .author,
.board-table .date {
  width: 100px;
}


.button__badge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;

  padding: 1px 3px;
  font-size: 10px;

  position: relative; /* Position the badge within the relatively positioned button */
  top: 0;
  right: 0;
}
