<script>
  $(document).ready(function(){
    // establish socket connection?
  });
  function loadChat() {
    // load log

  }

  function appendMessage(logEntry){
    
    if (username == currentUser.username)
  }

  function sendMsg(msg, stamp) {
    var str_row;
    str_row = `<div class="outgoing_msg">`;
    str_row += `<div class="sent_msg">`;
    str_row += `<p>`;
    str_row += msg;
    // is a string
    str_row += `</p>`;
    str_row += `<span class="time_date">`;
    str_row += stamp;
    // stamp would be something like 11:01 AM | June 9
    str_row += `</span></div></div>`;
    $(".msg_history").append(str_row);
    $('.msg_history').scrollTop($('.msg_history')[0].scrollHeight);
  }

  function receiveMsg(){
    var str_row;
    str_row = `<div class="incoming_msg">`;
    str_row += `<div class="received_msg">`;
    str_row += `<div class="received_withd_msg">`;
    str_row += `<p>`;
    str_row += "string content";
    str_row += `</p>`;
    str_row += `<span class="time_date">`;
    str_row += "11:01 AM | June 9";
    str_row += `</span></div></div></div>`;
    $(".msg_history").append(str_row);
    $('.msg_history').scrollTop($('.msg_history')[0].scrollHeight);
  }
</script>
