<script>
  $(".msg_history").hide();
  $(".input_msg_write").hide();
  // $("body").on("click","#refresh",refreshChatList);

  // var chatId = "<%= chatId %>"
  //   ? "<%= chatId %>"
  //   : "notification";
  var target_username = "";
  var passKey = `<%= passKey %>`;
  $(function () {
    socket.emit('request chat list', username, passKey);
    $(".write_msg").keyup(function(event){
      if (event.which == 13){
        sendMsg();
      }
    });
    function sendMsg() {
      if ($('.write_msg').val() !== '' && $('.write_msg').val() !== null) {
        socket.emit('send message', {
          'username': username,
          'target': '',
          'msg': $('.write_msg').val(),
          'date': null
        }, passKey);
      }
      $('.write_msg').val('');
      $('.write_msg').focus();
      event.preventDefault();
    }

    $('.msg_send_btn').on('click', sendMsg);

    socket.on('receive msg', function(msg){
      $(".msg_history").append(msg);
      $('.msg_history').scrollTop($('.msg_history')[0].scrollHeight);
    });
  });
  socket.on('chat init', function(){
    // if (chatId != 'notification') {
    //   showChat();
    // }
    showChat();
  });

  function showChat(){
    $("#temp").hide();
    $(".input_msg_write").show();
    $(".msg_history").show(1000);
    $(".msg_history").children().remove();
  }

  function loadChatBySelection(elem) {
    // $(".chat_list active_chat").toggleClass(".chat_list active_chat").toggleClass("chat_list");
    // $(elem).toggleClass("chat_list").toggleClass("chat_list active_chat");
    var i = $(elem).attr("data-index"); // seems unnecessary?
    var target_username = $(elem).attr("id");
    socket.emit('chat init', username, target_username, passKey);
    // socket.emit('socket init', username, passKey);
  }

  socket.on('load log', function ({recentLog}){
    $(".msg_history").append(recentLog);
    $('.msg_history').scrollTop($('.msg_history')[0].scrollHeight);
  });

  socket.on('system message', function (msg) {});

  function refreshChatList(){
    $("body").off("click","#refresh",refreshChatList);
    $(".chat_list").remove();
    $("#loading").show();
    socket.emit('request chat list', username, passKey);
    $("body").delay(1000).on("click","#refresh",refreshChatList);
  }

  socket.on('receive chat list', ({list}) => {
    // console.log(data);
    $("#loading").hide();
    $(".inbox_chat").append(list);
  });

  function loadChatList(index, username, msg, date) {
    var str_row;
    str_row = `<div id="`;
    str_row += username;
    str_row += `" class="chat_list`;
    // str_row += active
    //   ? ` active_chat`
    //   : ``;
    // str_row += `" data-index="`;
    // str_row += index;
    str_row += `" style="cursor: pointer;" onclick="loadChatBySelection(this)">`;
    str_row += `<div class="chat_people">`;
    str_row += `<div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>`;
    str_row += `<div class="chat_ib"><h5>`;
    str_row += username;
    // is a string
    str_row += `<span class="chat_date">`;
    str_row += date ? date : ``;
    // date would be something like Dec 23
    str_row += `</span></h5><p>`;
    str_row += msg ? msg : ``;
    str_row += `</p></div></div></div>`;
    $(".inbox_chat").append(str_row);

  }

  function toggleActive(elem) {
    // $(".chat_list active_chat").toggleClass('chat_list');
    $(elem).toggleClass('chat_list');
    $(elem).toggleClass('chat_list active_chat');

  }

</script>
