<!DOCTYPE html>
<html>

<head>
  <%- include('../../partials/head') %>
</head>

<body>
  <%- include('../../partials/nav') %>

  <div class="container mb-3">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb p-1 pl-2 pr-2">
        <li class="breadcrumb-item"><a href="/">홈</a></li>
        <li class="breadcrumb-item"><a href="/boards/frees">자유 게시판</a></li>
        <li class="breadcrumb-item active" aria-current="page">새로운 포스트</li>
      </ol>
    </nav>

    <%- include('../../partials/boards/new/form') %>

  </div>

</body>

</html>
