<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">About</h2>

      <P>원하는 유저를 찾고싶다! 마음맞는 사람들과 같이 게임하고싶다!</p>

    </div>
  </body>
</html>
