<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>우리 동네 이야기</h1>

        <P>우리동네 소통의 장 </p>
          
      </div>

    </div>
  </body>
</html>
